AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=2024-12-01-preview
AZURE_DEPLOYMENT_NAME=exp-gpt-4.1
TTS_VOICE=de-DE-KatjaNeural
CHUNK_TOKEN_LIMIT=24000
PDF_BASE_DIR=pdf
TEXTS_BASE_DIR=texts
TEXTS_PROCESSED_BASE_DIR=texts_processed
AUDIO_BASE_DIR=audio
